- name: Deploy to Firebase Hosting
  uses: FirebaseExtended/action-hosting-deploy@v0
  with:
    repoToken: "${{ secrets.GITHUB_TOKEN }}"
    firebaseToken: "${{ secrets.FIREBASE_TOKEN }}"
    projectId: student-51d79

