name: Flutter Web Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: beta
          flutter-version: '3.40.0-0.2.pre'

      - name: Flutter pub get
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web

      - name: Deploy to Firebase Preview
        run: |
          npx firebase-tools@latest hosting:channel:deploy preview \
            --expires 7d \
            --project student-51d79
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
